html{
	background: url('../img/bg1.png');
}
#container{
	background: white;
	width: 980px;
	margin: auto;
}



/*home	*/
#intro{
	margin: 15px;
}

.border-gray{
	padding: 10px;
	border-top: none;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #0075BD #B5B9BC #B5B9BC;
	box-shadow: 0 0 15px #babdb6 inset;
	font-size: 14px;
	position: relative;
}
.title-blue, .title-orange{
	padding: 10px;
	margin-bottom: 0;
	margin-top: 0;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 5px solid;
	position: relative;
}
.title-blue{
	border-color: #4284BC #B5B9BC #B5B9BC;
}
.title-orange{
	border-color: #F28420 #B5B9BC #B5B9BC;
}

img.gallery{
	margin-top: 14px;
}

/*about*/
#about-header{
	background: url('../img/header_orange.jpg');
}

/*contact us*/
#contact-header{
	background: url('../img/header_orange.jpg');
}

/*article*/
#tutorial-header{
	background: url('../img/header_blue.jpg');
}
.cut:after{
	content: "...";
}
.title-desc{
	float: right;
	font-weight: normal;
	font-size: 12px;
}
.article-view-title, .news-view-title{
	padding-top: 15px;
	border-top: 5px solid #F28420;
}
.article-view-content, .news-view-content{
	padding-top: 15px;
	font-size: 16px;
	border-top: 5px solid #F28420;
}
.article-sidebar li{
	border-bottom: 1px dotted black;
	list-style: none;
}
.article-sidebar a:hover{
	transition: 1s;
	padding-left: 10px;
}
/*news*/
#news-header{
	background: url('../img/header_green.jpg');
}
/*form*/
#form-contact, #form-article{
	margin-top: 0px;
}
.required>label:after{
	color: red;
	content: " *";
}
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
	margin-bottom: 10px;
	padding: 5px;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/*color*/
.red{
	color: red;
}
.blue{
	color: #0075BD;
}
.black{
	color: black;
}

/*view style*/
.bold{
	font-weight: bold;
}
.zero-margin{
	margin: 0;
}
.zero-padding{
	padding: 0;
}
.holder-content{
	padding: 5px;
}
.content-logo{
	width: 50px;
	float: left;
	margin-right: 10px;
}
.admin-logo{
	width: 50px;
	position: absolute;
	z-index: 999;
	right: 0;
}
.form-logo{
	width: 50px;
	margin: 10px;
	float: right;
}
.read-more:before{
	content: "  ";
}
.clear{
	clear: both;
}
.spacer{
	height: 18px;
}
#flashMessage{
	line-height: 30px;
	font-size: 20px;
	background: lightgreen;
	margin: 10px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.message {
	color: #fff;
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	padding-left: 30px;
	text-shadow: 2px 2px 3px rgba(19, 18, 19, 0.84);
}


/*text style*/
.main-title{
	padding: 20px 40px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 3px rgba(19, 18, 19, 0.84);
	font-size: 53px;
}
.simple{
	color: #0075BD;
	font-size: 21px;
	margin-bottom: 0;
	text-align: center;
}
.experience{
	color: #5C5D60;
	font-size: 17px;
	text-align: center;
	margin-bottom: 0;
}
.drive{
	color: #F08421;
	font-size: 15px;
	text-align: center;
	margin-bottom: 0;
}


/** Paging **/
.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}

